<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated angularJS -->
      <package
            uri="https://uniandes.edu.co/angular"
            class="Angularjs.AngularjsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated angularJS -->
      <package
            uri="https://uniandes.edu.co/angular/mvc"
            class="Angularjs.mvc.MvcPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated angularJS -->
      <package
            uri="https://uniandes.edu.co/angular/html"
            class="Angularjs.html.HtmlPackage"/>
   </extension>

</plugin>
