<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated angular -->
      <package
            uri="https://uniandes.edu.co/angular"
            class="angularjs2angular5.angular.AngularPackage"
            genModel="model/angular.genmodel"/>
   </extension>

</plugin>
