<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated angularjs -->
      <package
            uri="https://uniandes.edu.co/angular"
            class="Angularjs.AngularjsPackage"
            genModel="angularjs.genmodel"/>
   </extension>

</plugin>
